/* =======================================================================
    Base styles
======================================================================= */
*, *:before, *:after {
    box-sizing: border-box;
    outline: 0;
}

html,
svg text {
    font-family: $app-font-family-base;
}

html, body {
    height: 100%;
    outline: 0
}

body {

}

/* =======================================================================
    Utility classes
======================================================================= */
 .hidden {
    display: none;
 }
